#landing-text {
  color: #fff !important;
  font-size: 20rem;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  transition: 0.5s ease-out;
}

#landing-text:hover {
  color: #fcd249 !important;
  transition: 0.1s ease-in;
}

#landing-subtext {
  color: #f2f2f2 !important;
  font-size: 2rem;
  font-style: italic;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  transition: 1.5s ease-out;
}

#landing-catchphrase {
  color: #fff;
  text-align: right;
  font-style: italic;
}

.prompt .column {
  padding: 50px !important;
  letter-spacing: 2px;
}

.side-prompt {
  color: #494D5F !important;
  font-size: 10rem !important;
  font-weight: 800 !important;
}

.prompt-paragraph {
  text-indent: 40px;
  font-size: 0.8rem;
}

#section-three {
  font-size: 6rem;
  color: #fff !important;
}

#section-four {
  font-size: 6rem;
  color: #000 !important;
}

.table-content {
  font-size: 2rem;
}

.members-text {
  font-size: 0.9rem;
  color: #d1d1d1;
}

.footer-text {
  font-size: 0.7rem;
  color: #d1d1d1;
}

.table-content button {
  font-size: 1.5rem;
}

#sounds-title {
  font-size: 5rem;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

#gallery {
  --stripe: #cfd8dc;
  --bg: #e1e1e1;

  background: linear-gradient(135deg, var(--bg) 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, var(--bg) 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, var(--bg) 25%, transparent 25%),
    linear-gradient(45deg, var(--bg) 25%, transparent 25%);
  background-size: 100px 100px;
  background-color: var(--stripe);
}

#floating-btn {
  height: 50px !important;
  border-radius: 100px;
  bottom: 35px;
  right: 35px;
  position: fixed;
  z-index: 9999;
  font-weight: 800;
  background-color: #000000;
  box-shadow: none !important;
  text-decoration: none;
  border: none;
  color: #fff;
}

#floating-btn:hover {
  transition: 0.2s ease-in;
  animation: pulse 2s infinite;
  background-color: #494D5F;
}

#members-list {
  padding: 0px;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}