#nav-logo, #nav-logo:hover {
  font-weight: 600 !important;
  text-decoration: none !important;
  color: #fff;
}

.navbar {
  background-color: #000 !important;
}

.page-anchor {
  text-transform: uppercase !important;
  text-decoration: none !important;
  letter-spacing: 0.05em !important;
  color: #fff;
}

.page-anchor:hover {
	color: #8458B3 !important;
	transition: 0.5s ease-in;
}

::-webkit-scrollbar {
  margin-left: 30px;
	float: left;
	height: 300px;
	width: 65px;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
}

::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 4px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #000000;
}